<a href="https://colab.research.google.com/github/deepanshhi/Uber-Analysis/blob/main/Uber%20Data%20Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Case study - Uber Data Analysis
The data of a driver's uber trips are available for year 2016. Your manager wants you to explore this data to give him some useful insights about the trip behaviour of a Uber driver.

Dataset -
The dataset contains Start Date, End Date, Start Location, End Location, Miles Driven and Purpose of drive (Business, Personal, Meals, Errands, Meetings, Customer Support etc.)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Importing the necessary libraries
import numpy as np
import pandas as pd

In [ ]:
#Reading the data as a data frame
df=pd.read_csv('/content/drive/MyDrive/uberdrive.csv')

In [ ]:
#Displaying the first five records of the dataframe
df.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [ ]:
#displaying the last five records of the dataframe
df.tail()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [ ]:
#Shape of the data
df.shape

(1156, 7)

In [ ]:
#checking if there are any null values in the dataset
df.isnull().values.any()

True

In [ ]:
#information about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  1156 non-null   object
 1   END_DATE*    1155 non-null   object
 2   CATEGORY*    1155 non-null   object
 3   START*       1155 non-null   object
 4   STOP*        1155 non-null   object
 5   MILES*       1156 non-null   float64
 6   PURPOSE*     653 non-null    object
dtypes: float64(1), object(6)
memory usage: 63.3+ KB

In [ ]:
new_column_labels = {'START_DATE*': 'Start_Date*',
                     'END_DATE*': 'End_date*',
                     'CATEGORY*': 'Category*',
                     'START*': 'Start_Journey*',
                     'STOP*': 'Stop_Journey*',
                     'MILES*': 'No.of Miles*',
                     'PURPOSE*': 'Purpose_of_jourey*'}
df.rename(columns=new_column_labels, inplace=True)
df.columns = df.columns.str.replace('*', '_')
print(df)

           Start_Date_         End_date_ Category_    Start_Journey_  \
0       1/1/2016 21:11    1/1/2016 21:17  Business       Fort Pierce
1        1/2/2016 1:25     1/2/2016 1:37  Business       Fort Pierce
2       1/2/2016 20:25    1/2/2016 20:38  Business       Fort Pierce
3       1/5/2016 17:31    1/5/2016 17:45  Business       Fort Pierce
4       1/6/2016 14:42    1/6/2016 15:49  Business       Fort Pierce
...                ...               ...       ...               ...
1151  12/31/2016 13:24  12/31/2016 13:42  Business           Kar?chi
1152  12/31/2016 15:03  12/31/2016 15:38  Business  Unknown Location
1153  12/31/2016 21:32  12/31/2016 21:50  Business        Katunayake
1154  12/31/2016 22:08  12/31/2016 23:51  Business           Gampaha
1155            Totals               NaN       NaN               NaN

         Stop_Journey_  No.of Miles_ Purpose_of_jourey_
0          Fort Pierce           5.1     Meal/Entertain
1          Fort Pierce           5.0                NaN
2          Fort Pierce           4.8    Errand/Supplies
3          Fort Pierce           4.7            Meeting
4      West Palm Beach          63.7     Customer Visit
...                ...           ...                ...
1151  Unknown Location           3.9     Temporary Site
1152  Unknown Location          16.2            Meeting
1153           Gampaha           6.4     Temporary Site
1154         Ilukwatta          48.2     Temporary Site
1155               NaN       12204.7                NaN

[1156 rows x 7 columns]

<ipython-input-9-337d2e47b613>:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('*', '_')

In [ ]:
print(df[df.isnull().any(axis=1)])
# Removing rows with null values
df = df.dropna()

           Start_Date_         End_date_ Category_    Start_Journey_  \
1        1/2/2016 1:25     1/2/2016 1:37  Business       Fort Pierce
32      1/19/2016 9:09    1/19/2016 9:23  Business       Whitebridge
85      2/9/2016 10:54    2/9/2016 11:07  Personal       Whitebridge
86      2/9/2016 11:43    2/9/2016 11:50  Personal        Northwoods
87      2/9/2016 13:36    2/9/2016 13:52  Personal        Tanglewood
...                ...               ...       ...               ...
1066  12/19/2016 14:37  12/19/2016 14:50  Business  Unknown Location
1069  12/19/2016 19:05  12/19/2016 19:17  Business         Islamabad
1071   12/20/2016 8:49   12/20/2016 9:24  Business  Unknown Location
1143  12/29/2016 20:53  12/29/2016 21:42  Business           Kar?chi
1155            Totals               NaN       NaN               NaN

            Stop_Journey_  No.of Miles_ Purpose_of_jourey_
1             Fort Pierce           5.0                NaN
32    Lake Wellingborough           7.2                NaN
85             Northwoods           5.3                NaN
86             Tanglewood           3.0                NaN
87                Preston           5.1                NaN
...                   ...           ...                ...
1066     Unknown Location           5.4                NaN
1069     Unknown Location           2.2                NaN
1071           Rawalpindi          12.0                NaN
1143     Unknown Location           6.4                NaN
1155                  NaN       12204.7                NaN

[503 rows x 7 columns]

In [ ]:
inverted_data = df[~df.isnull().any(axis=1)]
print(inverted_data)

           Start_Date_         End_date_ Category_    Start_Journey_  \
0       1/1/2016 21:11    1/1/2016 21:17  Business       Fort Pierce
2       1/2/2016 20:25    1/2/2016 20:38  Business       Fort Pierce
3       1/5/2016 17:31    1/5/2016 17:45  Business       Fort Pierce
4       1/6/2016 14:42    1/6/2016 15:49  Business       Fort Pierce
5       1/6/2016 17:15    1/6/2016 17:19  Business   West Palm Beach
...                ...               ...       ...               ...
1150   12/31/2016 1:07   12/31/2016 1:14  Business           Kar?chi
1151  12/31/2016 13:24  12/31/2016 13:42  Business           Kar?chi
1152  12/31/2016 15:03  12/31/2016 15:38  Business  Unknown Location
1153  12/31/2016 21:32  12/31/2016 21:50  Business        Katunayake
1154  12/31/2016 22:08  12/31/2016 23:51  Business           Gampaha

         Stop_Journey_  No.of Miles_ Purpose_of_jourey_
0          Fort Pierce           5.1     Meal/Entertain
2          Fort Pierce           4.8    Errand/Supplies
3          Fort Pierce           4.7            Meeting
4      West Palm Beach          63.7     Customer Visit
5      West Palm Beach           4.3     Meal/Entertain
...                ...           ...                ...
1150           Kar?chi           0.7            Meeting
1151  Unknown Location           3.9     Temporary Site
1152  Unknown Location          16.2            Meeting
1153           Gampaha           6.4     Temporary Site
1154         Ilukwatta          48.2     Temporary Site

[653 rows x 7 columns]

In [ ]:
conditioned_data = df[df['No.of Miles_'] > 30]
print (conditioned_data)

           Start_Date_         End_date_ Category_    Start_Journey_  \
4       1/6/2016 14:42    1/6/2016 15:49  Business       Fort Pierce
36     1/20/2016 13:25   1/20/2016 14:19  Business           Raleigh
108     2/16/2016 3:21    2/16/2016 4:13  Business        Katunayaka
232    3/17/2016 12:52   3/17/2016 15:11  Business            Austin
233    3/17/2016 15:16   3/17/2016 15:58  Business              Katy
245    3/19/2016 14:01   3/19/2016 14:57  Business        Sugar Land
246    3/19/2016 15:34   3/19/2016 16:38  Business           Houston
251    3/19/2016 19:33   3/19/2016 20:39  Business         Galveston
268    3/25/2016 13:24   3/25/2016 16:22  Business              Cary
269    3/25/2016 16:52   3/25/2016 22:22  Business             Latta
270    3/25/2016 22:54    3/26/2016 1:39  Business      Jacksonville
295     4/2/2016 12:21    4/2/2016 14:47  Business         Kissimmee
296     4/2/2016 16:57    4/2/2016 18:09  Business     Daytona Beach
297     4/2/2016 19:38    4/2/2016 22:36  Business      Jacksonville
298     4/2/2016 23:11     4/3/2016 1:34  Business         Ridgeland
299      4/3/2016 2:00     4/3/2016 4:16  Business          Florence
335    4/28/2016 13:30   4/28/2016 13:49  Business           Raleigh
559    7/17/2016 12:20   7/17/2016 15:25  Personal             Boone
869   10/28/2016 15:53  10/28/2016 17:59  Business              Cary
870   10/28/2016 18:13  10/28/2016 20:07  Business     Winston Salem
871   10/28/2016 20:13  10/28/2016 22:00  Business         Asheville
872   10/29/2016 15:22  10/29/2016 17:05  Business            Topton
913    11/6/2016 16:27   11/6/2016 17:28  Business       Santa Clara
936    11/11/2016 9:35  11/11/2016 10:23  Business          Berkeley
939   11/11/2016 14:39  11/11/2016 15:46  Business        Menlo Park
960   11/14/2016 11:24  11/14/2016 12:13  Business          Berkeley
961   11/14/2016 13:40  11/14/2016 14:33  Business     Mountain View
979   11/20/2016 10:27  11/20/2016 11:32  Business              Cary
1088  12/21/2016 20:56  12/21/2016 23:42  Business        Rawalpindi
1089  12/22/2016 15:40  12/22/2016 16:38  Business  Unknown Location
1154  12/31/2016 22:08  12/31/2016 23:51  Business           Gampaha

         Stop_Journey_  No.of Miles_ Purpose_of_jourey_
4      West Palm Beach          63.7     Customer Visit
36                Cary          40.2     Customer Visit
108   Unknown Location          43.7     Customer Visit
232               Katy         136.0     Customer Visit
233            Houston          30.2            Meeting
245            Houston          35.1     Customer Visit
246          Galveston          36.5     Meal/Entertain
251            Houston          57.0     Customer Visit
268              Latta         144.0     Customer Visit
269       Jacksonville         310.3     Customer Visit
270          Kissimmee         201.0            Meeting
295      Daytona Beach          77.3     Customer Visit
296       Jacksonville          80.5     Customer Visit
297          Ridgeland         174.2     Customer Visit
298           Florence         144.0            Meeting
299               Cary         159.3            Meeting
335               Cary          32.8     Customer Visit
559               Cary         180.2            Commute
869      Winston Salem         107.0            Meeting
870          Asheville         133.6            Meeting
871             Topton          91.8            Meeting
872         Hayesville          40.7            Meeting
913           Berkeley          43.9     Customer Visit
936         Menlo Park          45.9     Customer Visit
939           Berkeley          36.6     Customer Visit
960      Mountain View          44.6     Customer Visit
961           Berkeley          43.6     Customer Visit
979               Cary          39.2    Between Offices
1088  Unknown Location         103.0            Meeting
1089  Unknown Location          32.3            Meeting
1154         Ilukwatta          48.2     Temporary Site

In [ ]:
top_10_rides = df.sort_values(by='No.of Miles_', ascending=False).head(10)
print (top_10_rides)

          Start_Date_         End_date_ Category_ Start_Journey_  \
269   3/25/2016 16:52   3/25/2016 22:22  Business          Latta
270   3/25/2016 22:54    3/26/2016 1:39  Business   Jacksonville
559   7/17/2016 12:20   7/17/2016 15:25  Personal          Boone
297    4/2/2016 19:38    4/2/2016 22:36  Business   Jacksonville
299     4/3/2016 2:00     4/3/2016 4:16  Business       Florence
268   3/25/2016 13:24   3/25/2016 16:22  Business           Cary
298    4/2/2016 23:11     4/3/2016 1:34  Business      Ridgeland
232   3/17/2016 12:52   3/17/2016 15:11  Business         Austin
870  10/28/2016 18:13  10/28/2016 20:07  Business  Winston Salem
869  10/28/2016 15:53  10/28/2016 17:59  Business           Cary

     Stop_Journey_  No.of Miles_ Purpose_of_jourey_
269   Jacksonville         310.3     Customer Visit
270      Kissimmee         201.0            Meeting
559           Cary         180.2            Commute
297      Ridgeland         174.2     Customer Visit
299           Cary         159.3            Meeting
268          Latta         144.0     Customer Visit
298       Florence         144.0            Meeting
232           Katy         136.0     Customer Visit
870      Asheville         133.6            Meeting
869  Winston Salem         107.0            Meeting

In [ ]:
max_miles_row = df[df['No.of Miles_'] == df['No.of Miles_'].max()]
print (max_miles_row)

         Start_Date_        End_date_ Category_ Start_Journey_ Stop_Journey_  \
269  3/25/2016 16:52  3/25/2016 22:22  Business          Latta  Jacksonville

     No.of Miles_ Purpose_of_jourey_
269         310.3     Customer Visit

In [ ]:
sorted_df = df.sort_values(by='No.of Miles_')
conditioned_sorted_df = sorted_df[sorted_df['No.of Miles_'] > 30]
print(conditioned_sorted_df)

           Start_Date_         End_date_ Category_    Start_Journey_  \
233    3/17/2016 15:16   3/17/2016 15:58  Business              Katy
1089  12/22/2016 15:40  12/22/2016 16:38  Business  Unknown Location
335    4/28/2016 13:30   4/28/2016 13:49  Business           Raleigh
245    3/19/2016 14:01   3/19/2016 14:57  Business        Sugar Land
246    3/19/2016 15:34   3/19/2016 16:38  Business           Houston
939   11/11/2016 14:39  11/11/2016 15:46  Business        Menlo Park
979   11/20/2016 10:27  11/20/2016 11:32  Business              Cary
36     1/20/2016 13:25   1/20/2016 14:19  Business           Raleigh
872   10/29/2016 15:22  10/29/2016 17:05  Business            Topton
961   11/14/2016 13:40  11/14/2016 14:33  Business     Mountain View
108     2/16/2016 3:21    2/16/2016 4:13  Business        Katunayaka
913    11/6/2016 16:27   11/6/2016 17:28  Business       Santa Clara
960   11/14/2016 11:24  11/14/2016 12:13  Business          Berkeley
936    11/11/2016 9:35  11/11/2016 10:23  Business          Berkeley
1154  12/31/2016 22:08  12/31/2016 23:51  Business           Gampaha
251    3/19/2016 19:33   3/19/2016 20:39  Business         Galveston
4       1/6/2016 14:42    1/6/2016 15:49  Business       Fort Pierce
295     4/2/2016 12:21    4/2/2016 14:47  Business         Kissimmee
296     4/2/2016 16:57    4/2/2016 18:09  Business     Daytona Beach
871   10/28/2016 20:13  10/28/2016 22:00  Business         Asheville
1088  12/21/2016 20:56  12/21/2016 23:42  Business        Rawalpindi
869   10/28/2016 15:53  10/28/2016 17:59  Business              Cary
870   10/28/2016 18:13  10/28/2016 20:07  Business     Winston Salem
232    3/17/2016 12:52   3/17/2016 15:11  Business            Austin
268    3/25/2016 13:24   3/25/2016 16:22  Business              Cary
298     4/2/2016 23:11     4/3/2016 1:34  Business         Ridgeland
299      4/3/2016 2:00     4/3/2016 4:16  Business          Florence
297     4/2/2016 19:38    4/2/2016 22:36  Business      Jacksonville
559    7/17/2016 12:20   7/17/2016 15:25  Personal             Boone
270    3/25/2016 22:54    3/26/2016 1:39  Business      Jacksonville
269    3/25/2016 16:52   3/25/2016 22:22  Business             Latta

         Stop_Journey_  No.of Miles_ Purpose_of_jourey_
233            Houston          30.2            Meeting
1089  Unknown Location          32.3            Meeting
335               Cary          32.8     Customer Visit
245            Houston          35.1     Customer Visit
246          Galveston          36.5     Meal/Entertain
939           Berkeley          36.6     Customer Visit
979               Cary          39.2    Between Offices
36                Cary          40.2     Customer Visit
872         Hayesville          40.7            Meeting
961           Berkeley          43.6     Customer Visit
108   Unknown Location          43.7     Customer Visit
913           Berkeley          43.9     Customer Visit
960      Mountain View          44.6     Customer Visit
936         Menlo Park          45.9     Customer Visit
1154         Ilukwatta          48.2     Temporary Site
251            Houston          57.0     Customer Visit
4      West Palm Beach          63.7     Customer Visit
295      Daytona Beach          77.3     Customer Visit
296       Jacksonville          80.5     Customer Visit
871             Topton          91.8            Meeting
1088  Unknown Location         103.0            Meeting
869      Winston Salem         107.0            Meeting
870          Asheville         133.6            Meeting
232               Katy         136.0     Customer Visit
268              Latta         144.0     Customer Visit
298           Florence         144.0            Meeting
299               Cary         159.3            Meeting
297          Ridgeland         174.2     Customer Visit
559               Cary         180.2            Commute
270          Kissimmee         201.0            Meeting
269       Jacksonville         310.3     Customer Visit

In [ ]:
df_length = len(df)
print(df_length)

653

In [ ]:
# a. Destination
destination_counts = df['Stop_Journey_'].value_counts()
# b. Time (hours of a day, day of week, month, year)
df['Start_Date_'] = pd.to_datetime(df['Start_Date_'])
df['Hour'] = df['Start_Date_'].dt.hour
df['Day_of_Week'] = df['Start_Date_'].dt.dayofweek
df['Month'] = df['Start_Date_'].dt.month
df['Year'] = df['Start_Date_'].dt.year

# c. Categories
category_counts = df['Category_'].value_counts()

# d. Purpose
purpose_counts = df['Purpose_of_jourey_'].value_counts()

# e. Grouping two parameters to get more insights of the dataset
grouped_df = df.groupby(['Category_', 'Purpose_of_jourey_']).size().reset_index(name='Counts')

In [ ]:
print("\nDestination counts:")
print(destination_counts)

Destination counts:
Cary                155
Morrisville          60
Unknown Location     56
Whitebridge          37
Durham               30
                   ...
Cedar Hill            1
Florence              1
Ridgeland             1
Daytona Beach         1
Ilukwatta             1
Name: Stop_Journey_, Length: 137, dtype: int64

In [ ]:
print("\nCategory counts:")
print(category_counts)

Category counts:
Business    647
Personal      6
Name: Category_, dtype: int64

In [ ]:
print("\nPurpose counts:")
print(purpose_counts)

Purpose counts:
Meeting            187
Meal/Entertain     160
Errand/Supplies    128
Customer Visit     101
Temporary Site      50
Between Offices     18
Moving               4
Airport/Travel       3
Charity ($)          1
Commute              1
Name: Purpose_of_jourey_, dtype: int64

In [ ]:
print("\nGrouped data by Category and Purpose:")
print(grouped_df)

Grouped data by Category and Purpose:
  Category_ Purpose_of_jourey_  Counts
0  Business     Airport/Travel       3
1  Business    Between Offices      18
2  Business     Customer Visit     101
3  Business    Errand/Supplies     128
4  Business     Meal/Entertain     160
5  Business            Meeting     187
6  Business     Temporary Site      50
7  Personal        Charity ($)       1
8  Personal            Commute       1
9  Personal             Moving       4

In [ ]:
total_miles = df["No.of Miles_"].sum()
print("Total miles covered:", total_miles)

Total miles covered: 7311.200000000001

In [ ]:
df['Start_Date_'] = pd.to_datetime(df['Start_Date_'], format='%m/%d/%Y %H:%M')
df['End_date_'] = pd.to_datetime(df['End_date_'], format='%m/%d/%Y %H:%M')

df['DURATION'] = df['End_date_'] - df['Start_Date_']

print(df[['Start_Date_', 'End_date_', 'DURATION']])

             Start_Date_           End_date_        DURATION
0    2016-01-01 21:11:00 2016-01-01 21:17:00 0 days 00:06:00
2    2016-01-02 20:25:00 2016-01-02 20:38:00 0 days 00:13:00
3    2016-01-05 17:31:00 2016-01-05 17:45:00 0 days 00:14:00
4    2016-01-06 14:42:00 2016-01-06 15:49:00 0 days 01:07:00
5    2016-01-06 17:15:00 2016-01-06 17:19:00 0 days 00:04:00
...                  ...                 ...             ...
1150 2016-12-31 01:07:00 2016-12-31 01:14:00 0 days 00:07:00
1151 2016-12-31 13:24:00 2016-12-31 13:42:00 0 days 00:18:00
1152 2016-12-31 15:03:00 2016-12-31 15:38:00 0 days 00:35:00
1153 2016-12-31 21:32:00 2016-12-31 21:50:00 0 days 00:18:00
1154 2016-12-31 22:08:00 2016-12-31 23:51:00 0 days 01:43:00

[653 rows x 3 columns]

In [ ]:
df['Start_Date_'] = pd.to_datetime(df['Start_Date_'], format='%m/%d/%Y %H:%M')
df['End_date_'] = pd.to_datetime(df['End_date_'], format='%m/%d/%Y %H:%M')

df['DURATION'] = df['End_date_'] - df['Start_Date_']

print(df[['Start_Date_', 'End_date_', 'DURATION']])

             Start_Date_           End_date_        DURATION
0    2016-01-01 21:11:00 2016-01-01 21:17:00 0 days 00:06:00
2    2016-01-02 20:25:00 2016-01-02 20:38:00 0 days 00:13:00
3    2016-01-05 17:31:00 2016-01-05 17:45:00 0 days 00:14:00
4    2016-01-06 14:42:00 2016-01-06 15:49:00 0 days 01:07:00
5    2016-01-06 17:15:00 2016-01-06 17:19:00 0 days 00:04:00
...                  ...                 ...             ...
1150 2016-12-31 01:07:00 2016-12-31 01:14:00 0 days 00:07:00
1151 2016-12-31 13:24:00 2016-12-31 13:42:00 0 days 00:18:00
1152 2016-12-31 15:03:00 2016-12-31 15:38:00 0 days 00:35:00
1153 2016-12-31 21:32:00 2016-12-31 21:50:00 0 days 00:18:00
1154 2016-12-31 22:08:00 2016-12-31 23:51:00 0 days 01:43:00

[653 rows x 3 columns]

In [ ]:

df['SPEED (MPH)'] = df['No.of Miles_'] / df['DURATION'].dt.total_seconds() * 3600

print("Trip speeds:")
print(df[['Start_Date_', 'End_date_', 'No.of Miles_', 'DURATION', 'SPEED (MPH)']].to_string(index=False))

Trip speeds:
        Start_Date_           End_date_  No.of Miles_        DURATION  SPEED (MPH)
2016-01-01 21:11:00 2016-01-01 21:17:00           5.1 0 days 00:06:00    51.000000
2016-01-02 20:25:00 2016-01-02 20:38:00           4.8 0 days 00:13:00    22.153846
2016-01-05 17:31:00 2016-01-05 17:45:00           4.7 0 days 00:14:00    20.142857
2016-01-06 14:42:00 2016-01-06 15:49:00          63.7 0 days 01:07:00    57.044776
2016-01-06 17:15:00 2016-01-06 17:19:00           4.3 0 days 00:04:00    64.500000
2016-01-06 17:30:00 2016-01-06 17:35:00           7.1 0 days 00:05:00    85.200000
2016-01-07 13:27:00 2016-01-07 13:33:00           0.8 0 days 00:06:00     8.000000
2016-01-10 08:05:00 2016-01-10 08:25:00           8.3 0 days 00:20:00    24.900000
2016-01-10 12:17:00 2016-01-10 12:44:00          16.5 0 days 00:27:00    36.666667
2016-01-10 15:08:00 2016-01-10 15:51:00          10.8 0 days 00:43:00    15.069767
2016-01-10 18:18:00 2016-01-10 18:53:00           7.5 0 days 00:35:00    12.857143
2016-01-10 19:12:00 2016-01-10 19:32:00           6.2 0 days 00:20:00    18.600000
2016-01-11 08:55:00 2016-01-11 09:21:00           6.4 0 days 00:26:00    14.769231
2016-01-11 11:56:00 2016-01-11 12:03:00           1.6 0 days 00:07:00    13.714286
2016-01-11 13:32:00 2016-01-11 13:46:00           1.7 0 days 00:14:00     7.285714
2016-01-11 14:30:00 2016-01-11 14:43:00           1.9 0 days 00:13:00     8.769231
2016-01-12 12:33:00 2016-01-12 12:49:00           1.9 0 days 00:16:00     7.125000
2016-01-12 12:53:00 2016-01-12 13:09:00           4.0 0 days 00:16:00    15.000000
2016-01-12 14:42:00 2016-01-12 14:56:00           1.8 0 days 00:14:00     7.714286
2016-01-12 15:13:00 2016-01-12 15:28:00           2.4 0 days 00:15:00     9.600000
2016-01-12 15:42:00 2016-01-12 15:54:00           2.0 0 days 00:12:00    10.000000
2016-01-12 16:02:00 2016-01-12 17:00:00          15.1 0 days 00:58:00    15.620690
2016-01-13 13:54:00 2016-01-13 14:07:00          11.2 0 days 00:13:00    51.692308
2016-01-13 15:00:00 2016-01-13 15:28:00          11.8 0 days 00:28:00    25.285714
2016-01-14 16:29:00 2016-01-14 17:05:00          21.9 0 days 00:36:00    36.500000
2016-01-14 21:39:00 2016-01-14 21:45:00           3.9 0 days 00:06:00    39.000000
2016-01-15 00:41:00 2016-01-15 01:01:00           8.0 0 days 00:20:00    24.000000
2016-01-15 11:43:00 2016-01-15 12:03:00          10.4 0 days 00:20:00    31.200000
2016-01-15 13:26:00 2016-01-15 13:44:00          10.4 0 days 00:18:00    34.666667
2016-01-18 14:55:00 2016-01-18 15:06:00           4.8 0 days 00:11:00    26.181818
2016-01-18 16:13:00 2016-01-18 16:24:00           4.7 0 days 00:11:00    25.636364
2016-01-19 10:55:00 2016-01-19 11:09:00           7.6 0 days 00:14:00    32.571429
2016-01-20 10:36:00 2016-01-20 11:11:00          17.1 0 days 00:35:00    29.314286
2016-01-20 11:48:00 2016-01-20 12:19:00          15.1 0 days 00:31:00    29.225806
2016-01-20 13:25:00 2016-01-20 14:19:00          40.2 0 days 00:54:00    44.666667
2016-01-21 14:25:00 2016-01-21 14:29:00           1.6 0 days 00:04:00    24.000000
2016-01-21 14:43:00 2016-01-21 14:51:00           2.4 0 days 00:08:00    18.000000
2016-01-21 16:01:00 2016-01-21 16:06:00           1.0 0 days 00:05:00    12.000000
2016-01-26 10:41:00 2016-01-26 10:50:00           2.0 0 days 00:09:00    13.333333
2016-01-26 12:33:00 2016-01-26 12:41:00           2.3 0 days 00:08:00    17.250000
2016-01-26 16:24:00 2016-01-26 16:32:00           1.9 0 days 00:08:00    14.250000
2016-01-26 17:17:00 2016-01-26 17:22:00           1.4 0 days 00:05:00    16.800000
2016-01-26 17:27:00 2016-01-26 17:29:00           0.5 0 days 00:02:00    15.000000
2016-01-27 09:24:00 2016-01-27 09:31:00           1.8 0 days 00:07:00    15.428571
2016-01-27 10:19:00 2016-01-27 10:48:00          18.7 0 days 00:29:00    38.689655
2016-01-27 12:34:00 2016-01-27 12:44:00           3.4 0 days 00:10:00    20.400000
2016-01-27 14:05:00 2016-01-27 14:13:00           2.7 0 days 00:08:00    20.250000
2016-01-27 14:46:00 2016-01-27 15:08:00          12.9 0 days 00:22:00    35.181818
2016-01-28 12:28:00 2016-01-28 13:00:00          19.0 0 days 00:32:00    35.625000
2016-01-28 15:11:00 2016-01-28 15:31:00          14.7 0 days 00:20:00    44.100000
2016-01-28 16:21:00 2016-01-28 16:51:00          15.7 0 days 00:30:00    31.400000
2016-01-29 09:31:00 2016-01-29 09:45:00           4.6 0 days 00:14:00    19.714286
2016-01-29 10:56:00 2016-01-29 11:07:00           5.2 0 days 00:11:00    28.363636
2016-01-29 11:43:00 2016-01-29 12:03:00          10.4 0 days 00:20:00    31.200000
2016-01-29 13:24:00 2016-01-29 13:47:00          10.1 0 days 00:23:00    26.347826
2016-01-29 18:31:00 2016-01-29 18:52:00           5.8 0 days 00:21:00    16.571429
2016-01-29 21:21:00 2016-01-29 21:40:00           5.5 0 days 00:19:00    17.368421
2016-01-30 16:21:00 2016-01-30 16:33:00           5.7 0 days 00:12:00    28.500000
2016-01-30 18:09:00 2016-01-30 18:24:00           5.7 0 days 00:15:00    22.800000
2016-02-01 10:35:00 2016-02-01 11:15:00          19.4 0 days 00:40:00    29.100000
2016-02-01 12:10:00 2016-02-01 12:43:00          23.3 0 days 00:33:00    42.363636
2016-02-01 12:56:00 2016-02-01 13:07:00           3.9 0 days 00:11:00    21.272727
2016-02-02 13:04:00 2016-02-02 13:23:00           8.3 0 days 00:19:00    26.210526
2016-02-02 13:51:00 2016-02-02 14:06:00           6.0 0 days 00:15:00    24.000000
2016-02-02 14:38:00 2016-02-02 14:42:00           1.6 0 days 00:04:00    24.000000
2016-02-04 08:40:00 2016-02-04 09:01:00           5.2 0 days 00:21:00    14.857143
2016-02-04 09:37:00 2016-02-04 10:09:00           9.7 0 days 00:32:00    18.187500
2016-02-04 10:26:00 2016-02-04 10:32:00           1.6 0 days 00:06:00    16.000000
2016-02-04 15:59:00 2016-02-04 16:03:00           1.1 0 days 00:04:00    16.500000
2016-02-04 16:35:00 2016-02-04 16:39:00           1.6 0 days 00:04:00    24.000000
2016-02-04 18:04:00 2016-02-04 18:31:00           9.0 0 days 00:27:00    20.000000
2016-02-04 20:36:00 2016-02-04 20:55:00           7.7 0 days 00:19:00    24.315789
2016-02-05 11:47:00 2016-02-05 12:07:00          10.4 0 days 00:20:00    31.200000
2016-02-05 13:22:00 2016-02-05 13:41:00          10.4 0 days 00:19:00    32.842105
2016-02-06 16:20:00 2016-02-06 16:53:00          11.4 0 days 00:33:00    20.727273
2016-02-06 18:57:00 2016-02-06 19:21:00           9.0 0 days 00:24:00    22.500000
2016-02-06 19:28:00 2016-02-06 19:37:00           3.2 0 days 00:09:00    21.333333
2016-02-07 16:49:00 2016-02-07 17:01:00           5.6 0 days 00:12:00    28.000000
2016-02-07 18:03:00 2016-02-07 18:17:00           5.7 0 days 00:14:00    24.428571
2016-02-07 18:39:00 2016-02-07 18:53:00           6.1 0 days 00:14:00    26.142857
2016-02-07 20:22:00 2016-02-07 20:40:00           6.1 0 days 00:18:00    20.333333
2016-02-08 12:57:00 2016-02-08 13:08:00           4.3 0 days 00:11:00    23.454545
2016-02-08 14:00:00 2016-02-08 14:10:00           2.7 0 days 00:10:00    16.200000
2016-02-09 20:24:00 2016-02-09 20:40:00           6.1 0 days 00:16:00    22.875000
2016-02-11 16:28:00 2016-02-11 17:10:00          17.3 0 days 00:42:00    24.714286
2016-02-11 17:49:00 2016-02-11 18:10:00           5.7 0 days 00:21:00    16.285714
2016-02-11 18:24:00 2016-02-11 18:46:00          13.5 0 days 00:22:00    36.818182
2016-02-11 20:36:00 2016-02-11 20:51:00           6.1 0 days 00:15:00    24.400000
2016-02-12 08:21:00 2016-02-12 08:42:00           8.5 0 days 00:21:00    24.285714
2016-02-12 10:45:00 2016-02-12 10:52:00           2.6 0 days 00:07:00    22.285714
2016-02-12 11:14:00 2016-02-12 11:35:00          17.0 0 days 00:21:00    48.571429
2016-02-12 13:02:00 2016-02-12 13:36:00          18.0 0 days 00:34:00    31.764706
2016-02-12 14:49:00 2016-02-12 15:06:00           8.4 0 days 00:17:00    29.647059
2016-02-12 15:33:00 2016-02-12 16:06:00          11.5 0 days 00:33:00    20.909091
2016-02-13 14:21:00 2016-02-13 14:41:00           8.9 0 days 00:20:00    26.700000
2016-02-14 14:07:00 2016-02-14 14:40:00           8.1 0 days 00:33:00    14.727273
2016-02-14 14:46:00 2016-02-14 15:03:00           2.0 0 days 00:17:00     7.058824
2016-02-14 16:35:00 2016-02-14 17:02:00          13.0 0 days 00:27:00    28.888889
2016-02-14 17:06:00 2016-02-14 17:29:00          13.9 0 days 00:23:00    36.260870
2016-02-16 03:21:00 2016-02-16 04:13:00          43.7 0 days 00:52:00    50.423077
2016-02-16 13:43:00 2016-02-16 13:55:00           1.8 0 days 00:12:00     9.000000
2016-02-16 17:17:00 2016-02-16 17:26:00           1.1 0 days 00:09:00     7.333333
2016-02-16 17:40:00 2016-02-16 17:44:00           3.6 0 days 00:04:00    54.000000
2016-02-17 13:18:00 2016-02-17 14:04:00          14.7 0 days 00:46:00    19.173913
2016-02-17 15:17:00 2016-02-17 15:22:00           1.7 0 days 00:05:00    20.400000
2016-02-17 15:33:00 2016-02-17 16:17:00          21.4 0 days 00:44:00    29.181818
2016-02-17 16:38:00 2016-02-17 16:43:00           0.5 0 days 00:05:00     6.000000
2016-02-18 08:19:00 2016-02-18 08:27:00          23.5 0 days 00:08:00   176.250000
2016-02-18 14:03:00 2016-02-18 14:45:00          12.7 0 days 00:42:00    18.142857
2016-02-18 15:16:00 2016-02-18 15:31:00           6.0 0 days 00:15:00    24.000000
2016-02-18 18:44:00 2016-02-18 18:58:00           5.2 0 days 00:14:00    22.285714
2016-02-18 19:27:00 2016-02-18 20:08:00          10.0 0 days 00:41:00    14.634146
2016-02-19 09:02:00 2016-02-19 09:14:00          18.3 0 days 00:12:00    91.500000
2016-02-19 09:21:00 2016-02-19 09:51:00          11.2 0 days 00:30:00    22.400000
2016-02-19 10:21:00 2016-02-19 10:48:00           7.6 0 days 00:27:00    16.888889
2016-02-19 12:09:00 2016-02-19 12:27:00           7.3 0 days 00:18:00    24.333333
2016-02-20 14:50:00 2016-02-20 15:54:00          23.1 0 days 01:04:00    21.656250
2016-02-20 18:00:00 2016-02-20 18:03:00           3.2 0 days 00:03:00    64.000000
2016-02-20 19:28:00 2016-02-20 19:49:00           7.7 0 days 00:21:00    22.000000
2016-02-21 11:39:00 2016-02-21 11:43:00           2.4 0 days 00:04:00    36.000000
2016-02-21 11:47:00 2016-02-21 12:01:00           4.6 0 days 00:14:00    19.714286
2016-02-21 12:13:00 2016-02-21 12:35:00           8.8 0 days 00:22:00    24.000000
2016-02-21 12:51:00 2016-02-21 13:12:00           8.3 0 days 00:21:00    23.714286
2016-02-21 13:33:00 2016-02-21 14:30:00          22.7 0 days 00:57:00    23.894737
2016-02-21 14:36:00 2016-02-21 15:03:00          13.0 0 days 00:27:00    28.888889
2016-02-21 15:14:00 2016-02-21 15:31:00           8.1 0 days 00:17:00    28.588235
2016-02-21 15:36:00 2016-02-21 15:41:00           2.2 0 days 00:05:00    26.400000
2016-02-21 23:15:00 2016-02-21 23:52:00          20.0 0 days 00:37:00    32.432432
2016-02-22 21:54:00 2016-02-22 22:09:00           8.1 0 days 00:15:00    32.400000
2016-02-24 15:19:00 2016-02-24 15:25:00           1.7 0 days 00:06:00    17.000000
2016-02-25 16:27:00 2016-02-25 16:35:00           3.1 0 days 00:08:00    23.250000
2016-02-25 16:47:00 2016-02-25 17:02:00           3.2 0 days 00:15:00    12.800000
2016-02-25 17:16:00 2016-02-25 17:36:00           6.0 0 days 00:20:00    18.000000
2016-02-25 18:22:00 2016-02-25 18:39:00           5.8 0 days 00:17:00    20.470588
2016-02-26 11:35:00 2016-02-26 11:59:00          10.6 0 days 00:24:00    26.500000
2016-02-26 13:01:00 2016-02-26 13:24:00           9.9 0 days 00:23:00    25.826087
2016-02-28 05:22:00 2016-02-28 05:38:00           7.7 0 days 00:16:00    28.875000
2016-02-28 09:26:00 2016-02-28 09:42:00           6.8 0 days 00:16:00    25.500000
2016-02-29 11:30:00 2016-02-29 11:40:00           3.8 0 days 00:10:00    22.800000
2016-02-29 12:36:00 2016-02-29 12:48:00           5.6 0 days 00:12:00    28.000000
2016-02-29 16:40:00 2016-02-29 17:00:00           6.6 0 days 00:20:00    19.800000
2016-03-01 18:47:00 2016-03-01 19:10:00           8.0 0 days 00:23:00    20.869565
2016-03-01 21:27:00 2016-03-01 21:45:00           8.0 0 days 00:18:00    26.666667
2016-03-03 11:04:00 2016-03-03 11:10:00           2.3 0 days 00:06:00    23.000000
2016-03-03 14:44:00 2016-03-03 14:58:00           5.2 0 days 00:14:00    22.285714
2016-03-03 15:27:00 2016-03-03 15:48:00           7.6 0 days 00:21:00    21.714286
2016-03-03 16:02:00 2016-03-03 16:42:00          17.3 0 days 00:40:00    25.950000
2016-03-04 07:47:00 2016-03-04 08:06:00           9.9 0 days 00:19:00    31.263158
2016-03-04 09:46:00 2016-03-04 10:03:00           9.9 0 days 00:17:00    34.941176
2016-03-04 11:46:00 2016-03-04 12:06:00          10.4 0 days 00:20:00    31.200000
2016-03-04 13:03:00 2016-03-04 13:25:00          10.9 0 days 00:22:00    29.727273
2016-03-04 13:40:00 2016-03-04 14:09:00          15.7 0 days 00:29:00    32.482759
2016-03-04 15:56:00 2016-03-04 16:08:00           4.9 0 days 00:12:00    24.500000
2016-03-04 16:16:00 2016-03-04 16:22:00           0.8 0 days 00:06:00     8.000000
2016-03-04 16:43:00 2016-03-04 17:12:00          13.5 0 days 00:29:00    27.931034
2016-03-04 19:02:00 2016-03-04 19:08:00           1.9 0 days 00:06:00    19.000000
2016-03-04 19:16:00 2016-03-04 19:25:00           2.0 0 days 00:09:00    13.333333
2016-03-05 11:44:00 2016-03-05 11:59:00           6.5 0 days 00:15:00    26.000000
2016-03-05 14:39:00 2016-03-05 15:01:00           7.8 0 days 00:22:00    21.272727
2016-03-05 16:52:00 2016-03-05 17:13:00           7.8 0 days 00:21:00    22.285714
2016-03-05 17:23:00 2016-03-05 17:34:00           3.9 0 days 00:11:00    21.272727
2016-03-07 09:10:00 2016-03-07 09:20:00           2.8 0 days 00:10:00    16.800000
2016-03-07 09:23:00 2016-03-07 09:47:00          12.4 0 days 00:24:00    31.000000
2016-03-07 12:10:00 2016-03-07 12:26:00           5.9 0 days 00:16:00    22.125000
2016-03-07 13:57:00 2016-03-07 14:18:00           9.4 0 days 00:21:00    26.857143
2016-03-07 15:19:00 2016-03-07 15:45:00          11.9 0 days 00:26:00    27.461538
2016-03-08 14:38:00 2016-03-08 14:55:00           7.2 0 days 00:17:00    25.411765
2016-03-08 15:35:00 2016-03-08 16:00:00           7.6 0 days 00:25:00    18.240000
2016-03-10 03:36:00 2016-03-10 03:53:00           8.4 0 days 00:17:00    29.647059
2016-03-10 10:08:00 2016-03-10 10:37:00          12.8 0 days 00:29:00    26.482759
2016-03-11 09:47:00 2016-03-11 09:59:00           2.0 0 days 00:12:00    10.000000
2016-03-13 09:07:00 2016-03-13 09:37:00           5.7 0 days 00:30:00    11.400000
2016-03-13 18:23:00 2016-03-13 18:43:00           8.4 0 days 00:20:00    25.200000
2016-03-13 20:07:00 2016-03-13 20:28:00           6.2 0 days 00:21:00    17.714286
2016-03-13 20:39:00 2016-03-13 20:58:00          10.5 0 days 00:19:00    33.157895
2016-03-13 21:11:00 2016-03-13 21:23:00           7.2 0 days 00:12:00    36.000000
2016-03-14 08:34:00 2016-03-14 08:49:00           2.0 0 days 00:15:00     8.000000
2016-03-15 08:45:00 2016-03-15 08:57:00           2.0 0 days 00:12:00    10.000000
2016-03-15 20:48:00 2016-03-15 21:01:00           2.8 0 days 00:13:00    12.923077
2016-03-16 11:34:00 2016-03-16 11:45:00           1.7 0 days 00:11:00     9.272727
2016-03-16 18:43:00 2016-03-16 18:56:00           2.1 0 days 00:13:00     9.692308
2016-03-17 12:52:00 2016-03-17 15:11:00         136.0 0 days 02:19:00    58.705036
2016-03-17 15:16:00 2016-03-17 15:58:00          30.2 0 days 00:42:00    43.142857
2016-03-17 17:20:00 2016-03-17 18:02:00          15.5 0 days 00:42:00    22.142857
2016-03-18 07:15:00 2016-03-18 07:21:00           1.1 0 days 00:06:00    11.000000
2016-03-18 08:35:00 2016-03-18 08:43:00           1.1 0 days 00:08:00     8.250000
2016-03-18 18:24:00 2016-03-18 19:08:00          13.2 0 days 00:44:00    18.000000
2016-03-18 19:23:00 2016-03-18 19:29:00           1.0 0 days 00:06:00    10.000000
2016-03-18 21:01:00 2016-03-18 21:15:00           9.2 0 days 00:14:00    39.428571
2016-03-19 09:10:00 2016-03-19 09:25:00           9.4 0 days 00:15:00    37.600000
2016-03-19 12:50:00 2016-03-19 13:13:00          12.0 0 days 00:23:00    31.304348
2016-03-19 14:01:00 2016-03-19 14:57:00          35.1 0 days 00:56:00    37.607143
2016-03-19 15:34:00 2016-03-19 16:38:00          36.5 0 days 01:04:00    34.218750
2016-03-19 17:17:00 2016-03-19 17:32:00           3.1 0 days 00:15:00    12.400000
2016-03-19 17:37:00 2016-03-19 17:47:00           2.1 0 days 00:10:00    12.600000
2016-03-19 18:53:00 2016-03-19 19:29:00           7.5 0 days 00:36:00    12.500000
2016-03-19 19:33:00 2016-03-19 20:39:00          57.0 0 days 01:06:00    51.818182
2016-03-20 07:37:00 2016-03-20 07:48:00           5.9 0 days 00:11:00    32.181818
2016-03-20 11:42:00 2016-03-20 11:56:00           6.2 0 days 00:14:00    26.571429
2016-03-20 18:45:00 2016-03-20 19:06:00           9.6 0 days 00:21:00    27.428571
2016-03-21 16:05:00 2016-03-21 16:13:00           0.9 0 days 00:08:00     6.750000
2016-03-21 20:18:00 2016-03-21 20:55:00          25.6 0 days 00:37:00    41.513514
2016-03-22 06:17:00 2016-03-22 06:43:00          23.0 0 days 00:26:00    53.076923
2016-03-25 13:24:00 2016-03-25 16:22:00         144.0 0 days 02:58:00    48.539326
2016-03-25 16:52:00 2016-03-25 22:22:00         310.3 0 days 05:30:00    56.418182
2016-03-25 22:54:00 2016-03-26 01:39:00         201.0 0 days 02:45:00    73.090909
2016-03-27 00:31:00 2016-03-27 00:40:00           2.1 0 days 00:09:00    14.000000
2016-03-27 01:11:00 2016-03-27 01:23:00           6.6 0 days 00:12:00    33.000000
2016-03-27 15:31:00 2016-03-27 15:56:00           6.1 0 days 00:25:00    14.640000
2016-03-30 22:05:00 2016-03-30 22:55:00          28.8 0 days 00:50:00    34.560000
2016-03-31 12:47:00 2016-03-31 13:22:00          16.1 0 days 00:35:00    27.600000
2016-03-31 14:37:00 2016-03-31 15:09:00          16.4 0 days 00:32:00    30.750000
2016-04-01 13:43:00 2016-04-01 14:01:00          11.0 0 days 00:18:00    36.666667
2016-04-01 14:36:00 2016-04-01 15:24:00          15.5 0 days 00:48:00    19.375000
2016-04-01 16:01:00 2016-04-01 16:49:00          20.3 0 days 00:48:00    25.375000
2016-04-02 12:21:00 2016-04-02 14:47:00          77.3 0 days 02:26:00    31.767123
2016-04-02 16:57:00 2016-04-02 18:09:00          80.5 0 days 01:12:00    67.083333
2016-04-02 19:38:00 2016-04-02 22:36:00         174.2 0 days 02:58:00    58.719101
2016-04-02 23:11:00 2016-04-03 01:34:00         144.0 0 days 02:23:00    60.419580
2016-04-03 02:00:00 2016-04-03 04:16:00         159.3 0 days 02:16:00    70.279412
2016-04-05 21:39:00 2016-04-05 21:55:00           7.9 0 days 00:16:00    29.625000
2016-04-06 00:19:00 2016-04-06 00:39:00           8.0 0 days 00:20:00    24.000000
2016-04-07 18:20:00 2016-04-07 18:39:00           6.1 0 days 00:19:00    19.263158
2016-04-07 19:45:00 2016-04-07 20:00:00           6.1 0 days 00:15:00    24.400000
2016-04-08 12:30:00 2016-04-08 12:48:00          10.5 0 days 00:18:00    35.000000
2016-04-08 13:34:00 2016-04-08 13:51:00           8.7 0 days 00:17:00    30.705882
2016-04-08 13:55:00 2016-04-08 14:03:00           1.8 0 days 00:08:00    13.500000
2016-04-08 14:43:00 2016-04-08 15:20:00          19.1 0 days 00:37:00    30.972973
2016-04-08 16:05:00 2016-04-08 16:47:00          18.6 0 days 00:42:00    26.571429
2016-04-12 09:15:00 2016-04-12 09:26:00           2.8 0 days 00:11:00    15.272727
2016-04-12 09:34:00 2016-04-12 09:53:00           8.9 0 days 00:19:00    28.105263
2016-04-12 10:58:00 2016-04-12 11:18:00           7.5 0 days 00:20:00    22.500000
2016-04-12 12:22:00 2016-04-12 12:44:00          15.9 0 days 00:22:00    43.363636
2016-04-12 13:42:00 2016-04-12 14:01:00           6.5 0 days 00:19:00    20.526316
2016-04-14 07:29:00 2016-04-14 08:09:00          15.3 0 days 00:40:00    22.950000
2016-04-14 16:00:00 2016-04-14 16:43:00          13.7 0 days 00:43:00    19.116279
2016-04-15 11:36:00 2016-04-15 12:07:00          11.9 0 days 00:31:00    23.032258
2016-04-15 12:29:00 2016-04-15 12:32:00           1.4 0 days 00:03:00    28.000000
2016-04-15 14:31:00 2016-04-15 15:01:00          15.2 0 days 00:30:00    30.400000

In [ ]:
business_trips = df[df['Category_'] == "Business"]
num_business_trips = business_trips.shape[0]

print("Number of trips in the business category:", num_business_trips)

Number of trips in the business category: 647

In [ ]:
meeting_trips = df[df['Purpose_of_jourey_'].str.strip() == 'Meeting']
number_of_meeting_trips = meeting_trips.shape[0]

print("Number of meeting trips:", number_of_meeting_trips)

Number of meeting trips: 187